<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hack_ai_thon_android">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.report.ProgressReportForm"></activity>
        <activity android:name=".ui.survey.SurveyFormActivity" />
        <activity android:name=".ui.report.ProgressReportList" />
        <activity android:name=".ui.dashboard.DashboardActivity" />
        <activity android:name=".account.LogInActivity" />
        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".account.SignUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>