*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
C:\Users\neha2\Desktop\Android projects\hack-ai-thon\hackaithon-project-1\Android\app\google-services.json
